{% extends 'base.html' %}


{% block content %}

<div class="container p-5 my-5 border">


  <form class="mb-4" method="POST">
    <h2 class="mb-3">Añadir Usuarios</h2>

    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input type="text" id="nombre" name="nombre" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" id="email" name="email" class="form-control" required>
    </div>

    <div class="form-group">
      <label for="contraseña">Contraseña</label>
      <input type="url" id="contraseña" name="contraseña" class="form-control" required>
    </div>


    <button type="submit" class="btn btn-primary">Añadir</button>
  </form>

  <h2 class="mb-3">Eliminar Usuario</h2>


  <form class="form-inline" method="POST">
    <div class="form-group mb-2">
      <label for="eliminarID" class="sr-only">ID</label>
      <input type="text" id="eliminarID" name="eliminarID" class="form-control" placeholder="ID del usuario" required>
    </div>
    <button type="submit" class="btn btn-danger mb-2 ml-2">Eliminar</button>
  </form>

  </div>
{% endblock %}
